/*------------------------------
-----------nav menu-------------
------------------------------*/

.nav {
    font-family: 'Cinzel Decorative', cursive;
    left:0;
    top:0;
    overflow: hidden;
    width: 30%;
    height: 0;
    position: fixed;
    visibility: hidden;
    z-index: 2;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    background-color: #454545;
}

    .nav.open {
        visibility: visible;
        height: 100%;
    }


    .nav button {
        font-family: inherit;
        width: 100%;
        color: white;
        font-size: 2em;
        margin: 0;
        min-width: 150px;
        min-height: 40px;
        border: none;
        background: inherit;
        -webkit-transition: .2s;
        -moz-transition: .2s;
        -o-transition: .2s;
        transition: .2s;
        cursor: pointer;
    }

        .nav button:hover {
            color: rgb(120,120,255);
            box-shadow: 0 0 20px 5px rgba(175,175,175,.1) inset;
        }

        .nav button:focus {
            outline: none;
            color: rgb(120,120,255);
            background: rgba(50,50,75);
            box-shadow: 0 0 30px 5px rgba(125,125,255,.1) inset;
        }




/* Icon */

.nav-icon {
    width: 50px;
    height: 40px;
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 5;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    cursor: pointer;
}


    .nav-icon span {
        display: block;
        position: absolute;
        height: 7px;
        width: 100%;
        right: 0;
        background: white;
        border-radius: 7px;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .2s ease-in-out;
        -moz-transition: .2s ease-in-out;
        -o-transition: .2s ease-in-out;
        transition: .2s ease-in-out;
    }

        .nav-icon span:nth-child(1) {
            top: 0;
        }

        .nav-icon span:nth-child(2) {
            top: 16px;
        }

        .nav-icon span:nth-child(3) {
            top: 32px;
        }

    .nav-icon.open span:nth-child(1) {
        top: 18px;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
    }

    .nav-icon.open span:nth-child(2) {
        opacity: 0;
        right: -60px;
    }

    .nav-icon.open span:nth-child(3) {
        top: 18px;
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        transform: rotate(-135deg);
    }
